.popup__form-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
    margin-left: 36px;
}

@media screen and (max-width: 480px) {
    .popup__form-error {
        margin-left: 25px;
        margin-right: 20px;
    }
}