.profile__info {
    display: flex;
    align-items: baseline;
    column-gap: 18px;
    align-self: end;
}

@media screen and (max-width: 750px) {
    .profile__info {
        column-gap: 10px;
    }
}