.popup__btn-save {
    width: 358px;
    height: 50px;
    color: white;
    background-color: black;
    margin: 48px 36px 37px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .popup__btn-save {
        width: 238px;
        height: 46px;
        margin: 45px 22px 25px;
    }
}